.filter {
}
.filter__heading {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;    
}
.filter__form {
}
.filter__form-search {
    display: flex;
    flex-direction: column;
}
.filter__form-label {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;  
    margin-top: 18px;  
}
.filter__form-search-input {
    border-radius: 8px;
    border: 1px solid #CED4DA;    
    width: 300px;
    padding: 8px 20px;
    align-items: center;
    flex: 1 0 0;    
}
.filter__form-mark {
    display: flex;
    flex-direction: column;
}
.filter__form-mark-input {
    width: 134px;
    padding: 8px 20px;
    border-radius: 8px;
    border: 1px solid #CED4DA;        
}
.filter__form-mark-input:not(:last-child){
    margin-right: 27px;
}
.filter__form-sort{
    display: flex;
    flex-direction: column;
}
.filter__form-sort-selector{
    display: flex;
    width: 300px;
    padding: 8px 20px;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    border-radius: 8px;
    border: 1px solid #CED4DA;
    margin-bottom: 18px;        
}