.modal{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba($color: #000000, $alpha: 0.4);
}
.modal__content{
    position: absolute;
    background-color: #fff;
    width: 489px;
    padding: 16px 8px;
    top:75px;
    left: 50%;
    transform: translateX(-50%);
}
.modal__header {
    display: flex;
    justify-content: space-between;
    padding: 12px 8px 12px 8px;
    border-bottom: 1px solid #D9D9D9;
    background: #FFF;    
}
.modal__header-button{
    border: 0;
    background-color: transparent;
    
}
.modal__header-parag {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;    
}
.modal__form {
    display: flex;
    flex-direction: column;
    padding-right: 16px;
    padding-left: 16px;
}
.modal__form-label {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
    margin-bottom: 17px;
    margin-top: 24px;   
}
.modal__form-input-name {
    width: 442px;
    padding: 8px 20px;
    border-radius: 8px;
    border: 1px solid #CED4DA; 
    color: #6C757D;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;       
}
.modal__form-input-surname {
    width: 442px;
    padding: 8px 20px;   
    border-radius: 8px;
    border: 1px solid #CED4DA; 
    color: #6C757D;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;        
}
.modal__form-input-mark {
    width: 442px;
    padding: 8px 20px;    
    border-radius: 8px;
    border: 1px solid #CED4DA; 
    color: #6C757D;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;    
    margin-bottom: 24px;   
}

.modal--edit{
    display: none;
}

.modal--edit.js--open{
    display: block;
}
.modal.js--open{
    display: block;
}